In [1]:
import pandas as pd

In [5]:
data = pd.read_csv("C:/Users/sanke/OneDrive/Desktop/prodigy/task4/twitter_training.csv")

In [6]:
data.head()

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...

In [7]:
data.tail()

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
74676,9200,Nvidia,Positive,Just realized that the Windows partition of my...
74677,9200,Nvidia,Positive,Just realized that my Mac window partition is ...
74678,9200,Nvidia,Positive,Just realized the windows partition of my Mac ...
74679,9200,Nvidia,Positive,Just realized between the windows partition of...
74680,9200,Nvidia,Positive,Just like the windows partition of my Mac is l...

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74681 entries, 0 to 74680
Data columns (total 4 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   2401                                                   74681 non-null  int64
 1   Borderlands                                            74681 non-null  object
 2   Positive                                               74681 non-null  object
 3   im getting on borderlands and i will murder you all ,  73995 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.3+ MB

In [10]:
column_names = ['ID', 'Entity', 'Sentiments', 'Contest']
df = pd.read_csv("C:/Users/sanke/OneDrive/Desktop/prodigy/task4/twitter_training.csv", names=column_names)

In [11]:
df.head()

,ID,Entity,Sentiments,Contest
0,2401,Borderlands,Positive,im getting on borderlands and i will murder yo...
1,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
2,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
3,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
4,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...

In [12]:
df.shape

(74682, 4)

In [13]:
df.info

<bound method DataFrame.info of          ID       Entity Sentiments  \
0      2401  Borderlands   Positive
1      2401  Borderlands   Positive
2      2401  Borderlands   Positive
3      2401  Borderlands   Positive
4      2401  Borderlands   Positive
...     ...          ...        ...
74677  9200       Nvidia   Positive
74678  9200       Nvidia   Positive
74679  9200       Nvidia   Positive
74680  9200       Nvidia   Positive
74681  9200       Nvidia   Positive

                                                 Contest
0      im getting on borderlands and i will murder yo...
1      I am coming to the borders and I will kill you...
2      im getting on borderlands and i will kill you ...
3      im coming on borderlands and i will murder you...
4      im getting on borderlands 2 and i will murder ...
...                                                  ...
74677  Just realized that the Windows partition of my...
74678  Just realized that my Mac window partition is ...
74679  Just realized the windows partition of my Mac ...
74680  Just realized between the windows partition of...
74681  Just like the windows partition of my Mac is l...

[74682 rows x 4 columns]>

In [14]:
df.describe

<bound method NDFrame.describe of          ID       Entity Sentiments  \
0      2401  Borderlands   Positive
1      2401  Borderlands   Positive
2      2401  Borderlands   Positive
3      2401  Borderlands   Positive
4      2401  Borderlands   Positive
...     ...          ...        ...
74677  9200       Nvidia   Positive
74678  9200       Nvidia   Positive
74679  9200       Nvidia   Positive
74680  9200       Nvidia   Positive
74681  9200       Nvidia   Positive

                                                 Contest
0      im getting on borderlands and i will murder yo...
1      I am coming to the borders and I will kill you...
2      im getting on borderlands and i will kill you ...
3      im coming on borderlands and i will murder you...
4      im getting on borderlands 2 and i will murder ...
...                                                  ...
74677  Just realized that the Windows partition of my...
74678  Just realized that my Mac window partition is ...
74679  Just realized the windows partition of my Mac ...
74680  Just realized between the windows partition of...
74681  Just like the windows partition of my Mac is l...

[74682 rows x 4 columns]>

In [15]:
df.isnull().sum()

ID              0
Entity          0
Sentiments      0
Contest       686
dtype: int64

In [16]:
df.dropna(axis=0, inplace=True)

In [17]:
df.isnull().sum()

ID            0
Entity        0
Sentiments    0
Contest       0
dtype: int64

In [18]:
df.duplicated().sum()

2340

In [19]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

0

In [20]:
df.shape

(71656, 4)

In [21]:
sentiments_counts = df['Sentiments'].value_counts()
sentiments_counts

Sentiments
Negative      21698
Positive      19713
Neutral       17708
Irrelevant    12537
Name: count, dtype: int64